.home{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
  }
  
  .fa-bars{
    position: absolute;
    border: 2px solid white;
    top: 20%;
    display: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    background: rgb(72, 214, 72);
    z-index: 10;
  }
  
  ::-webkit-scrollbar {
    width: 0;
  }
  
  .header{
      padding: 5px;
  }
  
  .wrapper {
    width: 100%;
    height: 85%;
    display: flex;
  }
  
  .sidebar-desktop {
    width: 20%;
    height: min-content;
    padding: 5px;
  }
  
  #sidebar-mobile{
    display: none;
  }
  
  .todo-tile {
    width: 70%;
    height: 100%;
    padding: 5px;
    margin: 5px;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 4px 4px 5px #838383;
  }
  
  @media (max-width: 900px){
    #sidebar-mobile{
      font-size: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 100%;
      height: 100%;
      left: -100%;
      padding: 0;
      background: rgb(72, 214, 72);
      z-index: 5;
      transition: 0.5s all ease;
    }
  
    #sidebar-mobile.active{
      left: 0;
    }
  
    .sidebar-desktop{
      display: none;
    }
  
    .fa-bars{
      display: block;
      position: fixed;
    }
  
    .todo-tile{
      width: 80%;
      margin: auto;
    }
  }
  
  @media (min-width: 900px) and (max-width: 950px) {
    .home{
      font-size: 10px;
    }
  }
  
  @media (min-width: 950px) and (max-width: 1300px) {
    .home{
      font-size: 13px;
    }
  }