<div class="navbar">
    <nav>
        <div class="logo" (click)="goToHome()">
            <i class="fa fa-check-square"></i><span>Todoer</span>
        </div>
        <button (click)="showDropdown()"><i class="fa fa-angle-double-down"></i></button>
        <div id="dropdown" style="display: none;">
            <div>
                <div class="first"><i class="fa fa-user"></i></div>
                <div class="second">Profile</div>
            </div>
            <div>
                <div class="first"><i class="fa fa-gear"></i></div>
                <div class="second">Settings</div>
            </div>
            <div>
                <div class="first"><i class="fa fa-sign-out"></i></div>
                <div class="second">Logout</div>
            </div>
        </div>
    </nav>
</div>