<i class="fa fa-bars" (click)="showSidebar()"></i>

<div id="sidebar">
    <app-sidebar></app-sidebar>
</div>

<div class="container">

    <div class="header">
        <app-header></app-header>
        <form [formGroup]="createTodoForm" class="add-todo">
            <input [formControlName]="'todoContent'" type="text" placeholder="Add to-do">
            <div (click)="createTodo()"><i class="fa fa-plus"></i></div>
        </form>
    </div>

    <div class="content">
        <div class="loading" *ngIf="areThereTodos === 'loading'">Loading...</div>
        <div class="notodos" *ngIf="areThereTodos === 'no'">
            <i class="fa fa-arrow-circle-up"></i>
            <p>Your list is empty. Add to-dos above.</p>
        </div>
        <div class="todo-tile" *ngIf="areThereTodos === 'yes'">
            <div class="todo" *ngFor="let todo of todos">
                <div>
                    <input type="checkbox" name="check" *ngIf="todo.checked" (click)="checkTodo(todo)" checked>
                    <input type="checkbox" name="check" *ngIf="!todo.checked" (click)="checkTodo(todo)">
                    <label for="check">{{todo.content}}</label>
                </div>
                <i class="fa fa-trash" (click)="removeTodo(todo)"></i>
            </div>
        </div>
    </div>
</div>