<div class="notes">
    <div class=notesTitle>notes</div>
    <hr>
    <div class="note"><i class="fa fa-times"></i>Some note useless</div>
    <div class="note"><i class="fa fa-times"></i>Some note useless</div>
    <div class="note"><i class="fa fa-times"></i>Some note useless</div>
    <div class="note"><i class="fa fa-times"></i>Some note useless</div>
    <div class="note"><i class="fa fa-times"></i>Some note useless</div>
    <div class="note"><i class="fa fa-times"></i>Some note useless</div>
</div>
