<div class="addtodo">
    <input type="text" class="addtodoinput">
    <div><i class="fa fa-plus"></i></div>
</div>
<div class="todo-tile">
    <div class="todos">
        <div class="loading" style="display: none;">Loading...</div>
        <div class="notodos" style="display: none;">
            <i class="fa fa-arrow-circle-up"></i>
            <p>Your list is empty. Add to-dos above.</p>
        </div>
        <div class="tile">
            <div>
                <input type="checkbox"><p>Some text, Some text; Some text, Some text</p>
            </div>
            <i class="fa fa-trash"></i>
        </div>
        <div class="tile">
            <div>
                <input type="checkbox"><p>Some text, Some text; Some text, Some text</p>
            </div>
            <i class="fa fa-trash"></i>
        </div>
        <div class="tile">
            <div>
                <input type="checkbox"><p>Some text, Some text; Some text, Some text</p>
            </div>
            <i class="fa fa-trash"></i>
        </div>
        <div class="tile">
            <div>
                <input type="checkbox"><p>Some text, Some text; Some text, Some text</p>
            </div>
            <i class="fa fa-trash"></i>
        </div>
        <div class="tile">
            <div>
                <input type="checkbox"><p>Some text, Some text; Some text, Some text</p>
            </div>
            <i class="fa fa-trash"></i>
        </div>
        <div class="tile">
            <div>
                <input type="checkbox"><p>Some text, Some text; Some text, Some text</p>
            </div>
            <i class="fa fa-trash"></i>
        </div>
        <div class="tile">
            <div>
                <input type="checkbox"><p>Some text, Some text; Some text, Some text</p>
            </div>
            <i class="fa fa-trash"></i>
        </div>
        <div class="tile">
            <div>
                <input type="checkbox"><p>Some text, Some text; Some text, Some text</p>
            </div>
            <i class="fa fa-trash"></i>
        </div>
        <div class="tile">
            <div>
                <input type="checkbox"><p>Some text, Some text; Some text, Some text</p>
            </div>
            <i class="fa fa-trash"></i>
        </div>
        <div class="tile">
            <div>
                <input type="checkbox"><p>Some text, Some text; Some text, Some text</p>
            </div>
            <i class="fa fa-trash"></i>
        </div>
    </div>
</div>