<div class="header">
    <div>
        <i class="fa fa-check-square"></i><span>Todoer</span>
    </div>
    <div class="slogan">All of your to-dos in one place!</div>
</div>

<div class="container">
    <div class="authentication">
        <div id="authContainer">
            <div class="loginContainer">
                <form [formGroup]="loginUserForm">
                    <h2>Login</h2>
                    <i class="fa fa-user"></i>&nbsp;&nbsp;<input [formControlName]="'usernameLogin'" placeholder="username"
                        type="text"><br><br>
                    <i class="fa fa-lock"></i>&nbsp;&nbsp;<input [formControlName]="'passwordLogin'" placeholder="password"
                        type="password"><br><br>
                    <button (click)="login()" class="loginBtn">Login</button><br>
                    <p class="registerMsg">Not registered! <span (click)="goToRegister()">register</span></p>
                </form>
                <p class="error" *ngIf="loggedIn === 'no'">Fill all the fields!</p>
                <p class="error" *ngIf="loggedIn === 'denied'">Wrong credentials!</p>
            </div>
            <div class="registerContainer">
                <form [formGroup]="registerUserForm">
                    <h2>Register</h2>
                    <input [formControlName]="'firstnameRegister'" placeholder="firstname" type="text"><br><br>
                    <input [formControlName]="'lastnameRegister'" placeholder="lastname" type="text"><br><br>
                    <input [formControlName]="'usernameRegister'" placeholder="username" type="text"><br><br>
                    <input [formControlName]="'passwordRegister'" placeholder="password" type="password"><br><br>
                    <button (click)="register()" class="registerBtn">Register</button><br>
                    <p class="loginMsg">Already registered! <span (click)="goToLogin()">login</span></p>
                </form>
                <p class="error" *ngIf="registered === 'no'">Fill all the fields!</p>
                <p class="error" *ngIf="registered === 'no'">The username is already taken!</p>
                <p class="success" *ngIf="registered === 'yes'">Successfully registered! Now login</p>
            </div>
        </div>
    </div>
</div>