<i class="fa fa-bars" (click)="showSidebar()"></i>

<div id="sidebar">
    <app-sidebar></app-sidebar>
</div>

<div class="container">

    <div class="header">
        <app-header></app-header>
        <div>Removed to-dos</div>
    </div>

    <div class="content">
        <div class="loading" *ngIf="areThereTodos === 'loading'">Loading...</div>
        <div class="notodos" *ngIf="areThereTodos === 'no'">
            <p>No removed to-dos!</p>
        </div>
        <div class="todo-tile" *ngIf="areThereTodos === 'yes'">
            <div class="todo" *ngFor="let todo of todos">
                <div>
                    <i class="fa fa-times" (click)="unremoveTodo(todo)"></i>
                    <p>{{todo.content}}</p>
                </div>
                <i class="fa fa-trash" (click)="deleteTodo(todo.id)"></i>
            </div>
        </div>
    </div>
</div>